@import "./mixins.scss";

.product {
  @include flex-horizontal-centered;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-row-gap: 50px;
    grid-column-gap: 48px;
    max-width: 1000px;
  }

  &__item:nth-child(4n) {
    margin-right: 0;
  }
}
