.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
  .header__logo {
    display: block;
    height: 40px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.nav__link {
  padding: 23px 0;
  display: block;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000; }
  .nav__link--is-active {
    color: #00acdc;
    position: relative; }
    .nav__link--is-active::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 8px;
      background-color: #00acdc;
      position: absolute;
      bottom: 0; }
  .nav__link:hover,
  .nav__link :focus {
    color: #00acdc; }

.nav__item:not(:last-child) {
  margin-right: 20px; }

.product__item {
  width: 200px;
  height: 403px;
  padding: 30px 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px; }

.product__photo {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 134px;
  margin-bottom: 45px; }

.product__name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px; }

.product__link {
  text-decoration: none;
  color: #000; }

.product__code {
  margin: 0 0 15px;
  font-size: 11px;
  line-height: 13px; }

.product__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product__stars div {
    background: url(../images/star-active.svg) no-repeat center;
    width: 15px;
    height: 15px;
    margin-right: 4px; }
    .product__stars div:last-child {
      background-image: url(../images/star.svg);
      margin: 0; }

.product__reviews {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product__review-link {
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px; }

.product__price--number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px; }

.product__button--buy {
  width: 170px;
  height: 40px;
  padding: 11px 57px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: #00acdc solid 1px;
  background-color: #00acdc;
  border-radius: 5px;
  cursor: pointer; }
  .product__button--buy:hover {
    background-color: #fff;
    border: #00acdc solid 1px;
    color: #00acdc;
    outline: none; }

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .product__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1000px; }
  .product__item {
    margin-right: 48px;
    margin-bottom: 50px; }
    .product__item:nth-child(4n) {
      margin-right: 0; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif; }

/*# sourceMappingURL=main.css.map */
